<div class="overlay">
	<div class="close">X</div>
	<div class="contents">
		<h1>SPATIAL SPOTTING/TECHNICAL DEMO</h1>
		<h2>BY NOTERIK / VERSION 0.1 / FEB 2014</h2>
		<hr>
		<p>
			The Spatial Spotting technical demo is part of Noterik's ongoing development work on the Multiscreen Toolkit. The demo has bin made in order to test the ability to look at video's together (play,pauze and scrub together) and users being able to pin-point certain object on the screen to each other.
			<br /><br />
			A screencast demo of the application can be seen <a target="_blank" href="http://www.noterik.nl/products/spatial-spotting/?id=spatialspotting">here</a>
			<br /><br />
			Disclaimer: This demo is work in progress and may thus not work perfectly.
			<br /><br />
			For further inquiries, please contact:
			<br />
			Rutger Rozendal, CEO / r.rozendal@noterik.nl
			<br />
			Noterik / www.noterik.nl
		</p>
		<button>GOT IT - TAKE ME TO THE DEMO</button>
	</div>
</div>
